.App {
  text-align: center;
  /* justify-content: space-between; */
  
}

.header{
  position: relative;
  height: 10vh;
  color: rgb(89, 187, 154);
  box-shadow: 0px 2px 12px -5px #000000;
  padding-top: 10px;
}

.searchBar{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px;
 
}

.container {
  position: relative;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
 
}

.bookList{
  display: flex;
  height: 80vh;
  width: 75vw;
  position: relative;
  justify-content: center;
  border-right: black solid 1px;
  
}

.individualBooks{
  display: flex;
  position: relative;
  width: 75vw;
  height: 80vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookAndTitle{
  width: 11vw;
  height: 20vh;
}

img{
  height: 20vh;
  width: 11vw;
  display: flex;
  flex-wrap: wrap;
}

.lable{
  width: 11vw;
}

.shelf{
  display: flex;
  position: relative;
  width: 25vw;
  height: 80vh;
  justify-content: center;
  
 
}

button {
  /* background-color: bisque; */
  border: white;
  border-radius: 3px;
  color: black;
  width: 100px;
  /* font-weight: 700; */
  
}

h3{
  font-weight: light;
  font-size: smaller;
}

.title{
  text-decoration: underline;
}

.search{
  display: flex;
  position: relative;
  width: 25vw;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
}
